*{
		box-sizing:border-box;
}
.container{
		background-color:black;
		border:2px solid white;
		padding:20px;
		display:flex;
		justify-content:center;
			
			
			
}
.item{
		font-size:20px;
		color:white;
		padding:15px 25px;
		border:2px solid ;
		margin-right:100px;
		text-decoration:none;
		transition:0.3s
			
		}
.item:hover{
		background-color:blue;
			
		}
body{
			background-color:lightblue;
	}
h1,h2{
	text-align :center;
}
img {
	width:300;
	height:200;
	display:block;
	margin:auto;
}
table{
	
	margin:auto;	
}
th{
	font-size:20px;
	background-color:blue;
	color:black;
	
}
td{
	background-color:green;
	font-size:20px;
	text-align:center;
}
form{
	padding : 10px;
	background-color:white;
	margin:auto;
	width:350px
	
}
button{
	display:block;
	margin:auto;
	background-color:Green;
}


	