h1{ 
color:blue;
font-style:italic;
text-align:center;
}
img{
	 display:block;
	 margin:auto; 
	 height : 300px; 
	 width : 400px; 
	 border :3px solid black;
}
p{
	text-align:center;
	background-color:Yellow; 
	
}
form{
	background-color : #B9E5F0;
	border : black 2px;
	padding:10px;
}
label{
	color:#052830;
	font-weight :bold;
}
